<div class="container">
  <nav>
    <div class="nav__logo">CHECK APP</div>
    <ul class="nav__links">
      <li routerLink="/history" style="cursor: pointer">My Appointment</li>
      <li routerLink="/appointment"><button class="btn">Appointment</button></li>
    </ul>
  </nav>
  
  <header class="header">
    <div class="content">
      <h1><span>CHECK APP</span><br />Dental Appointment</h1>
      <p>
        Booking a dental appointment has never been easier with online
        scheduling systems, allowing patients to select their preferred
        date and time with just a few clicks. This streamlined process not
        only enhances convenience but also helps dental offices manage their
        schedules more efficiently.
      </p>
    </div>
    <div class="image">
      <span class="image__bg"></span>
      <img src="/assets/img/dentist2.png" alt="header image" />
      <div class="image__content image__content__1">
        <span><i class="ri-user-3-line"></i></span>
        <div class="details">
          <h4>BOOK NOW!</h4>
          <p>Easy Dental Appointment Scheduling</p>
        </div>
      </div>
      <div class="image__content image__content__2">
        <ul>
          <li>
            <span><i class="ri-check-line"></i></span>
            Make your appointment so much easier
          </li>
        </ul>
      </div>
    </div>
  </header>

  <!-- Add your table here -->
  <div class="table-container">
    <h2>My Appointments</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
