<div class="container">
  <nav>
    <div class="nav__logo">CHECK APP</div>
    <ul class="nav__links">
      <li routerLink="/history" style="cursor: pointer">My Appointment</li>
      <li routerLink="/appointment">
        <button class="btn">Appointment</button>
      </li>
      <li><button class="btn" (click)="onLogout()">Logout</button></li>
    </ul>
  </nav>

  <header class="header">
    <div class="content">
      <h1><span>CHECK APP</span><br />Dental Appointment</h1>
      <p>
        Booking a dental appointment has never been easier with online
        scheduling systems, allowing patients to select their preferred date and
        time with just a few clicks. This streamlined process not only enhances
        convenience but also helps dental offices manage their schedules more
        efficiently.
      </p>
    </div>
    <div class="image">
      <span class="image__bg"></span>
      <img src="/assets/img/dentist2.png" alt="header image" />
      <div class="image__content image__content__1">
        <span><i class="ri-user-3-line"></i></span>
        <div class="details">
          <h4>BOOK NOW!</h4>
          <p>Easy Dental Appointment Scheduling</p>
        </div>
      </div>
      <div class="image__content image__content__2">
        <ul>
          <li>
            <span><i class="ri-check-line"></i></span>
            Make your appointment so much easier
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>
