<mat-drawer-container class="Allcontainer">
  <mat-toolbar>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer #drawer class="Sidenavcontainer" mode="side">
    <mat-toolbar>
      <div class="logo">
        <!-- pansamantalang title -->
        <h2>DENTAL</h2>
        <!-- <img class="logo" [src]="logo" alt="Dental Logo" /> -->
      </div>
    </mat-toolbar>

    <mat-divider></mat-divider>

    <mat-nav-list>
      <a mat-list-item routerLink="crud" routerLinkActive="is-active">
        <h3>CRUD</h3>
      </a>
    </mat-nav-list>

    <router-outlet></router-outlet> </mat-drawer
></mat-drawer-container>
