.table {
  width: 100%;
  height: 50%; /* For example, change this value to adjust height */
  overflow-y: auto; /* Add scroll bar if content overflows */
  margin: 0 auto;
  border: thick double var(--background-color);
}

#header {
  font-size: 15px;
  font-weight: bold;
}

#row {
  font-size: 13px;
  font-weight: light;
}

#header,
#row {
  padding: 10px; /* Adjust the padding value as needed */
}

.top-container {
  display: flex;
  margin: 0.5rem;
}

.studentProfile {
  flex: 1;
}

.icon {
  color: var(--dark);
  font-size: 2.5rem;
}

.text {
  position: relative;
  color: var(--dark);
  font-size: 2rem;
  font-weight: 900;
  bottom: 0.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
}
.student-table {
  border-radius: 10px;
  background-color: #f0f0f0;
  padding: 0.5rem;
  height: 100vh;
  overflow: auto;
  margin: 1rem;
}

.bg-title {
  z-index: 1;
  position: absolute;
  opacity: 5%;
  margin-top: -40px;
  font-size: 80px;
  font-family: Inter;
}

.top-container {
  display: flex;
  margin: 0.5rem;
}
.inventory {
  flex: 1;
}
.material-icons {
  color: var(--dark);
  font-size: 2.5rem;
}

.text {
  position: relative;
  color: var(--dark);
  font-size: 2rem;
  font-weight: 900;
  bottom: 0.3rem;
  left: 0.5rem;
}

