*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

app-root{
    --light-black: rgb(48, 48, 48, 0.3);
    --background: white;
    --light-white: #CFC8C0;
    --background-color: #263238;

    font-family: 'Inter';
    display: block;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--background);
    font-family: 'Inter';
}
