<div class="dashboard">
  <div class="card">
      <div class="image"></div>
      <div class="content">
          <a href="#">
              <span class="title">TOTAL PATIENTS</span>
          </a>
          <p class="desc">5</p>
      </div>
  </div>
  <div class="card">
      <div class="image"></div>
      <div class="content">
          <a href="#">
              <span class="title">FOR APPROVAL</span>
          </a>
          <p class="desc">5</p>
      </div>
  </div>
  <div class="card">
      <div class="image"></div>
      <div class="content">
          <a href="#">
              <span class="title">TOTAL APPOINTMENTS</span>
          </a>
          <p class="desc">5</p>
      </div>
  </div>
</div>
